*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Fonts Start */

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Jost';
    src: url(../fonts/Jost-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Jost';
    src: url(../fonts/Jost-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

/* Fonts End */

body {
    font-family: 'Raleway', sans-serif;
    background: #0A0216F0;
    color: #fff;
}

/* Header Start */

header {
    display: flex;
    gap: 50px;
    margin-top: 24px;
    padding: 0 130px;
}

.logo {
    color: #fff;
    display: flex;
    align-items: center;
    height: 76px;
}



.logo-img {
    padding-right: 5px;
}

nav {
    flex-grow: 1;
}

.info-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Raleway';
    font-size: 18px;
    line-height: 125%;

}

.info-menu a {
    color: #FFFFFF;
    transition: ease .3s;
}

.info-menu a:hover {
    color: #F50395;
}

.cotegories a:hover {
    color: #F50395;
}

.input-box {
    opacity: 0.7;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 2px;
    padding: 12px;
    width: 326px;

    display: flex;
    align-items: center;

    gap: 9px;
}

.input-box img {
    width: 15px;
    height: 15px;
}

.input-box input {
    color: #fff;
    border: 0;
    outline: 0;
    background: transparent;
}

.login {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #F50395 !important;

    display: flex;
    align-items: center;
}

.login img {
    padding-right: 13px;
}

.cotegories {
    display: flex;
    justify-content: space-around;

    font-family: 'Oswald';
    font-size: 18px;
    line-height: 125%;

    margin-top: 61px;
}

.cotegories a {
    color: #fff;
    transition: ease .3s;
    gap: 71px;
}

.choices {
    display: flex;
    align-items: center;
    font-family: 'Raleway';
    line-height: 20px;
}

.choices img {
    padding-right: 13px;
    width: 30px;
    height: 30px;
}

/* Header End */

/*Header-Content Start*/

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 78px;


}

.header-line {
    width: 1660px;
    height: 775px;
    margin-top: 78px;
    position: absolute;
}

.header-text {
    margin-right: 75px;
}

.header-one {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 66px;
    line-height: 120%;
    margin-bottom: 23px;
    display: flex;
    justify-content: center;
}

.header-paragraph {
    font-family: 'Raleway';
    font-size: 22px;
    line-height: 150%;
    color: #FFFFFF;
    padding-bottom: 68px;
}

.header-img img {
    width: 774px;
    height: 628.67px;
}

.header-btn {
    width: 400px;
    height: 68px;
    position: absolute;
    /*
    background: linear-gradient(271.66deg, #0D63C9 0%, #F50395 100%);
    box-shadow: 0px 0px 5px #4B02E7;*/

    font-family: 'Raleway';
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.btn-text {
    position: relative;
    top: 50px;
    left: 90px;
    color: #FFFFFF;
}
.btn-text a{
    color: #FFFFFF;
}

/*Header-Content End*/

/*Advantage Start*/
.advantage {
    margin-top: 180px;
    padding: 0 130px;
}

.advantage-header h2 {
    width: 519px;
    height: 89px;

    font-family: 'Oswald';
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
    color: #fff;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: end;

    margin-top: 101px;
}

.cards p {
    padding-top: 75px;
    font-family: 'Oswald';
    font-size: 26px;
    line-height: 125%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #FEFEFE;
}

.card-1,
.card-2,
.card-3 {
    position: relative;
}

.line-container3 {
    position: relative;
    top: 63px;
    right: -50px;
}

.line-container1 {
    position: relative;
    top: 4px;
    right: -71px;
}

.line-container2 {
    position: relative;
    top: -8px;
    right: -56px;
}

.hero-bg {
    position: sticky;
}

.line {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Advantage End*/

/*Brands Start*/
.brand {
    margin-top: 298px;
}

.brands {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 127px;
}

/*Brands End*/

/*News Start*/
.cyberNews {
    margin-top: 298px;
}

.cyberHeader {
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
    margin-bottom: 100px;
}

.newsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.news {
    height: 465px;
    /*border: 2px solid #fff;*/
    background-image: url(../img/navi.png);
    background-repeat: no-repeat;
    background-size: contain;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px 100px 100px;
    grid-template-areas: "i i"
        "h h"
        "d b";

    position: relative;
}

.news h6 {
    grid-area: h;

    font-family: 'Raleway';
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;

    margin: 0;
    margin-left: 50px;
    width: 550px;
}

.news .date {
    grid-area: d;
    font-family: 'Jost';

    font-size: 20px;
    line-height: 29px;

    align-self: center;
    margin-left: 77px;
}

.news .date::before {
    content: '';

    display: inline-block;
    width: 10px;
    height: 22px;
    background-image: url(../img/slash.svg);
    margin-right: 10px;
}

.news .newsButton {
    grid-area: b;

    height: 68px;
    width: 400px;

    background-size: contain;

    background-image: url(../img/news-btn1.png);
    background-repeat: no-repeat;
    text-align: center;

    font-family: 'Raleway';
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    padding: 19px 0;

    position: absolute;
    grid-area: b;
    height: 68px;
    width: 400px;
    background-size: contain;
    background-image: url(../img/news-btn1.png);
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    padding: 19px 0;
    
    position: absolute;

    top: 43px;
    left: 13px;

}

/*News End*/

.novelty{
    padding: 0 130px;
}

.mause-header {
    display: flex;
    justify-content: space-between;
}
.novelty-header {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;

    margin-top: 200px;

}

.mause__top-btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: rgba(255, 255, 255, 0.6);

    opacity: 0.8;

    margin-top: 220px;
    margin-bottom: 119px;
}

.mause__top-btn p {
    top: 34px;
    left: 85px;
    position: relative;
}

.mouses{
    display: flex;
}

.mouse-container{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.mouse-card{
    position: absolute;
}
.mouse-card p{
    padding-left: 33px;
    padding-top: 28px;
}
.mouse-card h5{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 41px;

    color: #F50395;

    padding-left: 33px;
}
.mouse-card h4{
    font-family: 'Jost';
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    text-align: right;
    padding-right: 33px;
    padding-top: 31px;
    padding-bottom: 10px;
}

.mouse-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 33px;
}
.mouse-btn p{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    position: absolute;
    padding: 10px 112px 9px 118px;
}

.mouse-card{
    position: absolute;
}

.mouse{
    padding: 33px 33px 0 33px;
}

.stock{
    padding: 0 130px;
}

.stock h2{
    margin-top: 287px;
    margin-bottom: 100px;

    font-family: 'Oswald';
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
}


.stocks{
    display: flex;
    justify-content: space-around;
}

.offers{
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers{
    align-items:flex-end;
}

.offers p{
    position: absolute;
    width: 426px;
    height: 144px;
    
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 250px;
}

footer{
    background-color: #050000;
    padding: 140px 0 90px;
}

footer a{
    display: block;
    color: #fff;

    font-family: 'Raleway';
    font-size: 24px;
    line-height: 28px;

    margin-top: 23px;
}

footer h5{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #FF00D7;
    margin-top: 26px;
}

.footer1 .logo{
    padding-bottom: 69px;
}


.footer-header h5{
    padding-bottom: 40px;
}

.footerMenu{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0 130px;
}

.footerMenu > div{
    
}

.subFooter{
    color: #645F5F;
    margin-top: 100px;
    width: 100% !important;
    border-top: 1px solid rgba(104, 104, 104, 0.5);
    padding: 0 130px;
}

.subFooter a{
    color: #645F5F;

}

.footerInfo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.legal{
    display: flex;
    gap: 120px;

}

.social{
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: 20px;
    line-height: 24px;
}

.social a{
    margin: 0;
}

.subFooter span{
    font-family: 'Raleway';
    font-size: 20px;
    line-height: 24px;
}

@media (max-width: 1440px){
    .footerMenu{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 950px){
    .footerMenu{
        grid-template-columns: repeat(1, 1fr);
    }
}